<%if( successMsg.length>0) {%>
<style>
  .custom-alert {
    font-family: monospace;
    color: black;
    text-transform: capitalize;
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1055;
    width: 100%;
    max-width: 600px;
    min-height: 70px;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: -4px 0px 13px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 600px) {
    .custom-alert {
      width: 90%;
      padding: 1rem 3rem;
    }
  }
</style>

<div
  id="top-alert"
  class="custom-alert alert alert-warning alert-dismissible show text-center"
  role="alert"
>
  <strong><%= successMsg %></strong>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="dismissAlert()"
  ></button>
</div>

<%}%> <%if( errorMsg.length) {%>

<div
  id="top-alert"
  class="custom-alert alert alert-warning alert-dismissible show text-center"
  role="alert"
>
  <strong><%= errorMsg %></strong>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="dismissAlert()"
  ></button>
</div>
<%}%>

<script>
  function dismissAlert() {
    const alert = document.getElementById("top-alert");
    if (alert) {
      alert.classList.remove("show");
      alert.classList.add("hide");
      setTimeout(() => alert.remove(), 200);
    }
  }
</script>
