<body>
  <style>
    .containerSidebar {
      z-index: 10;
      position: fixed;
      left: 0;
      top: 4rem;
      display: flex;
      gap: 3rem;
      flex-direction: column;
    }
    .containerSidebar select {
      font-weight: bold;
      border: none;
      position: absolute;
      background: #333;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      left: 1rem;
    }
    option {
      color: black;
    }

    @media (max-width: 769px) {
      .containerSidebar select {
        font-size: 0.7rem;
        text-transform: capitalize;
      }
    }
  </style>
  <div class="containerSidebar">
    <div>
      <select name="" id="categorydropdown">
        <option value="/video/categories/tags">Category</option>
        <option value="/video/categories/tags">new</option>
        <option value="/video/categories/tags">new</option>
        <option value="/video/categories/tags">new</option>
        <option value="/video/categories/tags">new</option>
        <option value="/video/categories/tags">new</option>
      </select>
    </div>
  </div>
</body>
